In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('acled-version-7-all-africa-1997-2016-dyadic-file-xlsx-2.xls')

In [3]:
data.head()

,GWNO,EVENT_ID_CNTY,EVENT_ID_NO_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,EVENT_TYPE,ACTOR1,ALLY_ACTOR_1,INTER1,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,615,1ALG,1,1997-01-04,1997,1,Violence against civilians,GIA: Armed Islamic Group,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,615,2ALG,2,1997-01-05,1997,1,Violence against civilians,GIA: Armed Islamic Group,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,615,3ALG,3,1997-01-06,1997,1,Violence against civilians,GIA: Armed Islamic Group,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,615,4ALG,4,1997-01-07,1997,1,Remote violence,GIA: Armed Islamic Group,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,615,5ALG,5,1997-01-11,1997,1,Violence against civilians,GIA: Armed Islamic Group,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
kenya = data[data['COUNTRY'] == 'Kenya']
kenya.shape

(5311, 36)

In [7]:
violence_kenya = kenya.to_csv('Violence In Kenya.csv')